graft data
graft po
graft src
graft plugins

include COPYING
include dist
include NEWS
include radiotray
include README
include AUTHORS
include CONTRIBUTORS

global-exclude */*~
global-exclude */*.pyc
global-exclude */*.hg*
