[Desktop Entry]
Version=0.4
Encoding=UTF-8
Name=Radio Tray
Comment=Streaming music player
Exec=/usr/local/bin/radiotray
Terminal=false
Icon=/usr/local/share/radiotray/icons/radiotray.png
Type=Application
Categories=AudioVideo;Audio;Player;GTK;
