[Desktop Entry]
Version=0.4
Encoding=UTF-8
Name=Radio Tray
Comment=Streaming music player
Exec=radiotray
Terminal=false
Icon=radiotray.png
Type=Application
Categories=AudioVideo;Audio;Player;GTK;
